<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>


    <div class="aoout content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi itaque eos aspernatur illo. A officiis sed molestiae deleniti, molestias iure quibusdam voluptatem ex possimus illo enim, quo nesciunt est magnam!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi itaque eos aspernatur illo. A officiis sed molestiae deleniti, molestias iure quibusdam voluptatem ex possimus illo enim, quo nesciunt est magnam!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi itaque eos aspernatur illo. A officiis sed molestiae deleniti, molestias iure quibusdam voluptatem ex possimus illo enim, quo nesciunt est magnam!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi itaque eos aspernatur illo. A officiis sed molestiae deleniti, molestias iure quibusdam voluptatem ex possimus illo enim, quo nesciunt est magnam!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi itaque eos aspernatur illo. A officiis sed molestiae deleniti, molestias iure quibusdam voluptatem ex possimus illo enim, quo nesciunt est magnam!</p>
    </div>
    
    <%- include("./partials/footer.ejs")%>
</body>
</html>